#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    // 4 Rows, 12 Columns master map layout for the Corne
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <4>;

        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)  RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)  RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)  RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
                        RC(3,3) RC(3,4) RC(3,5)  RC(3,6) RC(3,7) RC(3,8)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        // Inverted row pins to drop the C keys back to the bottom row
        row-gpios
            = <&gpio1 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 0
            , <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 1
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 2
            , <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 3
            ;

        col-gpios
            = <&gpio0 9  GPIO_ACTIVE_HIGH> // Col 0
            , <&gpio0 10 GPIO_ACTIVE_HIGH> // Col 1
            , <&gpio1 11 GPIO_ACTIVE_HIGH> // Col 2
            , <&gpio1 13 GPIO_ACTIVE_HIGH> // Col 3
            , <&gpio1 15 GPIO_ACTIVE_HIGH> // Col 4
            , <&gpio0 2  GPIO_ACTIVE_HIGH> // Col 5
            ;
    };
};


&pro_micro_i2c {
    status = "okay";

    oled0: oled@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        prechargep = <0x22>; 
        
        // Removed ALL remap, invdir, and sequential flags to bypass strict YAML validation
        
        reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
    };
};